@{
    ViewBag.Title = "Home Page";
}
<div style="align-content:center">
    <div>
        <div>
            @Html.ActionLink("Register", "Register", "User")
            <span> | </span>
            @Html.ActionLink("Sign In", "Login", "User")
        </div>
    </div> 
</div>

   