@{
    ViewBag.Title = "Home Page";
}
<div style="align-content:center">
    <div>
        <div style="font-size:xx-large;text-align:center">            
            @Html.ActionLink("Login", "Login", "User")
        </div>
    </div> 
</div>

   