@model WebApplication5.Models.User

@{
    ViewBag.Title = "FilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="content-block" style="align-items:center">
        <div>
            <h2 class="h2">Arquivos do Usuario</h2>
        </div>
        <table style="width:50%;height:80%;align-self:center;position:page;top:50%;right:50%">
           
            <tr >
                <th style="text-align:center">File Name</th>
                <th style="text-align:center">Link</th>
            </tr>

            @foreach (var arquivo in ViewBag.arquivos)
            {
                <tr>
                    <td style="text-align:center">
                        @arquivo
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink("Download", "Download", new { Arquivo = arquivo }, "Arquivo")
                    </td>
                </tr>

            }
        </table>
    </div>
</body>